<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Zeiterfassung</title>
        <link rel="stylesheet" href="styles.css">  
    </head>
    <body>
        <form action="" method="POST" autocomplete="on">                   
            <input id="tbxBeschreibung" name="text" placeholder="Neue Tätigkeit ...">  
            
            <!-- 30.11. -->

            <button id="btnInsert"  formaction="/">... anlegen</button>                  
        </form>  

        <table id="tblTaetigkeiten">
            <tr>
                <th>Nr.</th><th>Von</th><th>Bis</th><th>Dauer in Min</th><th>Lohn in €</th><th>&#8721; Tag in €</th><th>&#8721; Monat in €</th><th>&#8721; Jahr in €</th><th>Tätigkeit</th>
            </tr>  
            
            <% for(var i=0; i<taetigkeiten.length; i++) {%>
                <tr>
                    <td><%= taetigkeiten[i].nummer %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= taetigkeiten[i].beschreibung %></td>
                </tr> 
            <% } %>
        </table>    

        <p>&copy; 2018 Mein Name (<a id="adminHide" href="/admin">Administrationsbereich</a>)</p>

        <div id="admin" style="display:none">
            <h1 id="adminH1">Administration: </h1>
            <form method="POST" >                   
                <button id="btnDelete" formaction="/delete">Alles löschen</button>       
            </form>            
        </div>
        <script src="main.js"></script>
    </body>
</html>